<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <style type="text/css">
        /* 必需 */
        .expand-transition {
            transition: all .3s ease;
            overflow: hidden;
        }
        /* .expand-enter 定义进入的开始状态 */
        /* .expand-leave 定义离开的结束状态 */
        .expand-enter,
        .expand-leave {
            height: 0;
            padding: 0 10px;
            opacity: 0;
        }
    </style>
</head>
<body>
<!--<div id="app">
    <router-view></router-view>
    <footer>
        <a v-link="{name:'list',query:{tab:'rank'}}">rank</a>
    </footer>
</div>-->

<ul id="example-1">
    <li v-for="item in items">
        <img v-bind:src="item.appIcon" width="160" height="160" alt=""/>
        {{item.appName}}
    </li>
</ul>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.js"></script>
<script src="js/vue-router.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    window.onload = function () {



        var example1 = new Vue({
            el: '#example-1',
            data: {
                items: []
            }
        });
        Vue.nextTick(function () {
            $.get('_mock/list.json', function (req) {
                example1.items.push.apply(example1.items, req.Data.list);
            });
        });


        return;
        var template = '<ul>' +
                '<li v-for="item in items">' +
                '<img v-bind:src="item.appIcon" width="160" height="160" alt=""/>' +
                '{{item.appName}}' +
                '</li>' +
                '</ul>';

        var List = Vue.extend({
            data: {
                items: []
            },
            template: template
        });
        var router = new VueRouter({
            linkActiveClass: 'active'
        });
        router.map({
            '/list': {
                name: 'list',
                component: List,
                data: function (transition) {
                    setTimeout(function () {
                        transition.next({
                            message: 'data fetched!'
                        })
                    }, 1000)
                }
            }
        });
        var App = Vue.extend({});
        router.start(App, '#app');
    };
</script>
</body>
</html>