<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>custom-filter</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.js"></script>
</head>
<body>
<div id="vm1" v-text="message | reverse"></div>
<script type="text/javascript">
    Vue.filter('reverse', function (value) {
        return value.split('').reverse().join('');
    });

    var vm1 = new Vue({
        el: '#vm1',
        data: {
            message: 'abcdefghijk'
        }
    });
</script>
<hr>
<div id="vm2" v-text="message | wrap 'o-' '-o'"></div>
<script type="text/javascript">
    Vue.filter('wrap', function (value, begin, end) {
        return begin + value + end;
    });

    var vm2 = new Vue({
        el: '#vm2',
        data: {
            message: 'vue.js'
        }
    });
</script>
<hr>
<div id="vm3">
    <input type="text" v-model="price | currencyDisplay"/>
    <br>
    <span>{{price}}</span>
</div>
<script type="text/javascript">
    Vue.filter('currencyDisplay', {
        // model - view
        read: function (val) {
            return '$' + val.toFixed(2);
        },
        // view =model
        write: function (val, oldVal) {
            var number = +val.replace(/[^\d.]/g, '');
            return isNaN(number) ? 0 : parseFloat(number.toFixed(2));
        }
    });

    var vm3 = new Vue({
        el: '#vm3',
        data: {
            price: 15
        }/*,
         filters: {
         currencyDisplay: {
         // model - view
         read: function (val) {
         return '$' + val.toFixed(2);
         },
         // view =model
         write: function (val, oldVal) {
         var number = +val.replace(/[^\d.]/g, '');
         return isNaN(number) ? 0 : parseFloat(number.toFixed(2));
         }
         }
         }*/
    });
</script>
<hr>
<div id="vm4">
    <input type="text" v-model="userInput"/>
    <span>{{msg | concat userInput}}</span>
</div>
<script type="text/javascript">
    var vm4 = new Vue({
        el: '#vm4',
        data: {
            msg: 0,
            userInput: 0
        },
        filters: {
            concat: function (value, input) {
                // 'input' === 'this.userInput'
                return value + input;
            }
        }
    });
</script>
</body>
</html>