<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forms</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.js"></script>
</head>
<body>
<!-- ----------------------- example1 /S ------------------------------------------------ -->
<div id="example1">
    <span>Message is: {{message}}</span>
    <br>
    <input type="text" v-model="message" placeholder="edit me"/>
</div>
<!-- ----------------------- example1 /E ------------------------------------------------ -->
<hr>
<!-- ----------------------- example2 /S ------------------------------------------------ -->
<div id="example2">
    <input type="checkbox" id="checkbox2" v-model="checked"/>
    <label for="checkbox2">{{checked}}</label>
</div>
<!-- ----------------------- example2 /E ------------------------------------------------ -->
<hr>
<!-- ----------------------- example3 /S ------------------------------------------------ -->
<id id="example3">
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{checkedNames | json}}</span>
</id>
<!-- ----------------------- example3 /E ------------------------------------------------ -->
<hr>
<!-- ----------------------- example4 /S ------------------------------------------------ -->
<div id="example4">
    <select name="select" id="select" v-model="selected">
        <option selected>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected: {{selected}}</span>
</div>
<!-- ----------------------- example4 /E ------------------------------------------------ -->
<hr>
<script type="text/javascript">
    var vm1 = new Vue({
        el: '#example1'
    });

    var vm2 = new Vue({
        el: '#example2',
        data: {
            checked: false
        }
    });
    var vm3 = new Vue({
        el: '#example3',
        data: {
            checkedNames: []
        }
    });
    var vm4 = new Vue({
        el: '#example4',
        data: {
            selected: null
        }
    });
</script>
</body>
</html>